.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-top: none;

  @media screen and (max-width: 970px) {
    margin: 0 auto 5px;
    width: 100%;
  }

  .com-title {
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    border-bottom: 1px solid #cccccc;
    padding: 30px;
  }

  .comment-box {
    margin: 0 auto;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .each-comment {
      max-width: 370px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 10px;

      h6 {
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
      }

      p {
        width: 100%;
        font-weight: 300;
        font-size: 13px;
      }
    }
  }

  .form {
    border-top: 1px solid #cccccc;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

 

    input::placeholder {
      color: #fff;
    }

    input {
      border: 2px solid #ffffff;
      padding: 12px 15px;
      border-radius: 5px;
      font-weight: 300;
      font-size: 13px;
      background: #17171b;
      width: 100%;
      outline: none;
    }

    textarea::placeholder {
      color: #fff;
    }

    textarea {
      background: #17171b;
      width: 100%;
      border: 2px solid #ffffff;
      border-radius: 5px;
      font-weight: 300;
      font-size: 13px;
      resize: none;
      height: 120px;
      padding: 24px 15px;
      outline: none;
    }

    .btn {
      width: 80px;
      height: 30px;
      background: #885ffb;
      border-radius: 5px;
      padding: 7px 23px;
      margin-left: auto;
      border: none;
      color: #fff;
    }
  }
}
