.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 430px;
  height: 230px;
  border-radius: 20px;
  background: rgba(156, 156, 156, 0.293);

  @media screen and (max-width: 1350px) {
    // width: 700px;
    margin: 0 auto;
    width: 350px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(60, 56, 64, 0.93);
    border-radius: 10px 10px 20px 20px;
    padding: 18px 20px;

    .card-info {
      display: flex;
      align-items: center;
      gap: 15px;

      .play-button {
        width: 32px;
        height: 32px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

       

        span {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .length {
      width: 80px;
      height: 25px;
      background: rgba(136, 95, 251, 0.89);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
