.content {
  padding: 55px;

  @media screen and (max-width: 630px) {
    // display: none;
    padding: 55px 0;
  }

  .main-banner {
    width: 890px;
    height: 187px;
    border-radius: 20px;
    background: rgba(156, 156, 156, 0.293);
    overflow: hidden;

    @media screen and (max-width: 1350px) {
      width: 700px;
      margin: 0 auto;
    }
    @media screen and (max-width: 1150px) {
      width: 500px;
    }

    @media screen and (max-width: 530px) {
      width: 400px;
    }

    img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      object-fit: cover;
    }
  }

  .text {
    font-weight: 600;
    font-size: 23px;
    margin: 50px auto 50px 0;
    width: 100%;
    max-width: 340px;
    max-height: 16px;
  }

  .card-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 890px;
    flex-wrap: wrap;
    gap: 50px 30px;
  }
}
