.nav {
  padding: 47px 80px;
  border-bottom: 1px solid #cccccc;

  @media screen and (max-width: 970px) {
    // position: absolute;
    // background: #000;
    // height: 100%;
    // width: 50%;

    .container {
      .nav-icons {
        display: none !important;
      }
    }
  }
 

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;

      span {
        font-family: "Prompt", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.5px;
      }
    }

    .nav-menu {
      display: flex;
      align-items: center;
      gap: 43px;

      @media screen and (max-width: 630px) {
    display: none;
      }

      li {
        a {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          color: rgba(204, 204, 204, 1);
        }
      }
    }

    .nav-icons {
      display: flex;
      align-items: center;
      gap: 45px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
